<% title @painting.name %>

<div id="paintings">
    <div class="painting">
      <%=  image_tag @painting.image_url(:large) if @painting.image? %>
      <div class="name"><%= @painting.name %></div>
      <div class="actions">
        <%= link_to "edit", edit_painting_path(@painting) %> |
        <%= link_to "remove", @painting, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    </div>
  <div class="clear"></div>
</div>

<p>
    <td><%= link_to 'Back', @painting.gallery %></td>
</p>
